<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructivo 2</title>
  </head>
  <body>
    <h1>Receta de Helado de Dulce de Leche sin TACC</h1>
    <p>
      Este helado es una delicia, suave, cremoso y con un sabor a dulce de leche
      que no se puede resistir. Ideal para los días de calor o para disfrutar en
      cualquier momento del año.
    </p>
    <h2>Lista de ingredientes</h2>
    <ul>
      <li>1 litro de leche</li>
      <li>5 cucharadas de maicena</li>
      <li>1/4 taza de azúcar impalpable sin TACC</li>
      <li>400gr de dulce de leche sin TACC</li>
      <li>1/2 taza de crema de leche sin TACC</li>
      <li>1 cucharada de esencia de vainilla</li>
      <li>1 cucharadita de jengibre fresco rayado</li>
      <li>1 cucharadita de cacao en polvo sin TACC</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
      <li>En una cacerola colocar la leche, la maicena y el azúcar.</li>
      <li>
        Cocinar a fuego medio revolviendo constantemente hasta que la mezcla
        espese.
      </li>
      <li>
        Retirar del fuego y agregar el dulce de leche, la crema de leche, la
        esencia de vainilla, el jengibre y el cacao.
      </li>
      <li>Mezclar bien y llevar a la heladera por 4 horas.</li>
      <li>
        Retirar de la heladera y batir en la batidora hasta que quede cremoso.
      </li>
      <li>Llevar nuevamente a la heladera por 2 horas.</li>
      <li>Servir y disfrutar.</li>
    </ol>
    <a href="https://www.maizena.com.ar/r/helado-de-dulce-de-leche-sin-tacc.html/241988">Leer receta en Maizena</a>
    <br />
    <a href="/Tarea N°1/public/views/instructivo1.html">Leer receta de Alfajores</a>
    <br />
    <a href="/Tarea N°1/index.html">Volver al inicio</a>
  </body>
</html>
