<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructivo 1</title>
  </head>
  <body>
    <h1>Receta de Alfajores de Maicena</h1>
    <p>
      Tentate con este clásico dulce argentino, ya sea con unos mates a la tarde
      o con un café a la mañana estos alfajores no defraudan. Fáciles, ricos y
      rendidores!
    </p>
    <h2>Lista de ingredientes</h2>
    <ul>
      <li>200 gr de manteca</li>
      <li>150 gr de azúcar</li>
      <li>3 yemas</li>
      <li>1 cucharadita de ralladura de limón</li>
      <li>1 cdita de esencia de vainilla</li>
      <li>300 gr de maicena</li>
      <li>200 gr de harina</li>
      <li>2 cdita de polvo de hornear</li>
      <li>1/2 cdita de bicarbonato de sodio</li>
      <li>Dulce de leche repostero</li>
      <li>Coco rallado c/n</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
      <li>En un bowl batir la manteca con el azúcar hasta que esté cremosa.</li>
      <li>
        Agregar las yemas, la ralladura de limón y la esencia de vainilla.
      </li>
      <li>
        Incorporar la maicena, la harina, el polvo de hornear y el bicarbonato
        de sodio.
      </li>
      <li>Mezclar hasta formar una masa suave.</li>
      <li>Estirar la masa y cortar los alfajores.</li>
      <li>Colocar en una placa enmantecada y enharinada.</li>
      <li>Cocinar en horno precalentado a 180° durante 10 minutos.</li>
      <li>
        Dejar enfriar y armar los alfajores con el dulce de leche y el coco
        rallado.
      </li>
    </ol>

    <a href="https://www.maizena.com.ar/r/alfajores-de-maizena.html/160118"
      >Leer receta en Maizena</a
    >
    <br />
    <a href="/Tarea N°1/public/views/instructivo2.html"
      >Leer receta de Helado</a
    >
    <br />
    <a href="/Tarea N°1/index.html">Volver al inicio</a>
  </body>
</html>
